{% extends "core_layout.html" %}
{% block content %}

<div class="container text-center results">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text">
                    <div class="give-preview-text-inner text-start">
                        <div><span style="color: #FF6CE9; ">☆ Oh No! An Error Has Occured! ☆</span></div>
                        <div><span style="color: #55FF55; ">Error Code {{errorCode}}</span></div>
                        <div><span style="color: #FFFF55; ">If you believe the site is broken,</span></div>
                        <div><span style="color: #FFFF55; ">please contact AlexTheNerd on discord!</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}