{% extends "core_layout.html" %}
{% block content %}

<div class="container text-center results">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">Contact!</h1>
                        <ul>
                            <li class="mc-gold">Reach me on discord by messaging AlexTheNerd
                            </li>
                            <li class="mc-gold">You can also join my Discord Server <a target="_blank" rel="noopener noreferrer" href="https://discord.gg/HAaUm7AnS5">Here</a>!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 extra-pad-top">
            <div class="give-preview-text-outer">
                <div class="give-preview-text">
                    <div class="give-preview-text-inner text-start">
                        <h1 class="mc-dark-aqua">Mystic Item Site</h1>
                        <ul>
                            <li class="mc-gold"><a href="https://www.mystic.atn.gg/">Mystic Item Site</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}