<nav class="navbar navbar-dark navbar-expand-md bg-dark"">
        <div class=" container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="{{ url_for('static',filename='images/logo256.png') }}" width="32" height="32" alt="ATN Logo.sss">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            {% for loc, name in [('index', "Home"), ('mcGradient', "Gradient Maker")] %}
            {% if request.path == url_for(loc) %}
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for(loc) }}">{{name}}</a>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for(loc) }}">{{name}}</a></li>
            {% endif %}
            {% endfor %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Chestshop Tracker
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    {% if current_user.is_authenticated %}
                        <li><a class="dropdown-item{%if request.path == url_for('ShopViewShops')%} active{%endif%}"
                            href="{{ url_for('ShopViewShops')}}">Other Shops</a></li>
                        <div class="dropdown-divider"></div>
                        {% if current_user.adminPermissions >= 10 %}
                            <li><a class="dropdown-item{%if request.path == url_for('ShopExcludedItems')%} active{%endif%}"
                                href="{{ url_for('ShopExcludedItems')}}">Excluded Item List</a></li>
                            
                            <li><a class="dropdown-item{%if request.path == url_for('ShopManageShops')%} active{%endif%}"
                                href="{{ url_for('ShopManageShops')}}">Manage Shops</a></li>
                            <li><a class="dropdown-item{%if request.path == url_for('ShopBulkChangeShops')%} active{%endif%}"
                                href="{{ url_for('ShopBulkChangeShops')}}">Bulk Change Shops</a></li>
                                
                            <div class="dropdown-divider"></div>
                        {% endif %}
                        {% if current_user.adminPermissions >= 100 %}
                        <li><a class="dropdown-item{%if request.path == url_for('manageUsers')%} active{%endif%}" href="{{ url_for('manageUsers')}}">Manage Users</a></li>
                        <div class="dropdown-divider"></div>
                        {% endif %}
                        <li><a class="dropdown-item{%if request.path == url_for('resetPass')%} active{%endif%}" href="{{ url_for('resetPass')}}">Reset Password</a></li>
                        <li><a class="dropdown-item{%if request.path == url_for('logout')%} active{%endif%}" href="{{ url_for('logout')}}">Logout</a></li>
                    {% else %}
                        <li><a class="dropdown-item{%if request.path == url_for('signup')%} active{%endif%}" href="{{ url_for('signup')}}">Sign up</a></li>
                        <li><a class="dropdown-item{%if request.path == url_for('login')%} active{%endif%}" href="{{ url_for('login')}}">Sign in</a></li>
                    {% endif %}
                </ul>
            </li>
            {% for shop in ShopsList %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{shop[0]}}
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    {% if current_user.is_authenticated %}
                        {% if current_user.adminPermissions >= 10 %}
                            <li><a class="dropdown-item{%if request.path.startswith('/shop/time/' ~ current_user.username ~ '/' ~ shop[1])%} active{%endif%}"
                                href="{{ url_for('ShopTimeView', days = 3, username = current_user.username, shopID = shop[1])}}">General Statistics</a></li>
                            <li><a class="dropdown-item{%if request.path == url_for('ShopTransactionsView', username=current_user.username, shopID = shop[1])%} active{%endif%}"
                                href="{{ url_for('ShopTransactionsView', username=current_user.username, shopID = shop[1])}}">Past Transactions</a></li>
                            <li><a class="dropdown-item{%if request.path == url_for('ShopItems', username=current_user.username, shopID = shop[1])%} active{%endif%}"
                                href="{{ url_for('ShopItems', username=current_user.username, shopID = shop[1])}}">Item List</a></li>                            
                        {% endif %}
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
    </div>
</nav>