{% set fixed_height = false %}
{% set show_alerts = true %}
{% extends "core_layout.html" %}
{% block content %}

<div class="row gx-3 gy-3 mb-3 mt-0">
    <div class="col">
        <div class="card h-100 text-white bg-dark border-white">
            <h3 class="card-header border-white">General Statistics <code>{{username}} - {{shopName}}</code></h3>
            <div class="card-body">
                <p class="card-text">Some general information will be shown here.</p>
            </div>
            <div class="card-footer border-white">
            <a href="/shop/time/{{username}}/{{shopID}}/1" class="btn btn-secondary">1 Day</a>
                {% for defaultTimeframe in stats["defaults"] %}
                <a href="/shop/time/{{username}}/{{shopID}}/{{defaultTimeframe}}" class="btn btn-secondary">{{defaultTimeframe}} Days</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row gx-3 gy-3">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <div class="card h-100 text-white bg-dark border-white">
            <div class="card-body">
                <h4 class="card-title">Last {{stats["days"]}} Days Financials</h4>
                <ul>
                    <li>Product Sold: ${{stats["sold"]}}</li>
                    <li>Product Purchased: ${{stats["bought"]}}</li>
                    <li>Net Profit: ${{stats["total"]}}</li>
                </ul>
                <ul>
                    <li>Total Items Sold: {{stats["SoldQuantity"]}}</li>
                    <li>Total Items Bought: {{stats["BoughtQuantity"]}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <div class="card h-100 text-white bg-dark border-white">
            <div class="card-body">
                <h4 class="card-title">Last {{stats["days"]}} Days Who sold you the most items?</h4>
                <ul>
                    {% for person, amount in stats["PeopleWhoSoldTheMost"].items() %}
                        <li>{{person}} - {{amount}} items</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <div class="card h-100 text-white bg-dark border-white">
            <div class="card-body">
                <h4 class="card-title">Last {{stats["days"]}} Days Who bought the most from you? (quantity)</h4>
                <ul>
                    {% for person, amount in stats["PeopleWhoBoughtTheMost"].items() %}
                        <li>{{person}} - {{amount}} items</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <div class="card h-100 text-white bg-dark border-white">
            <div class="card-body">
                <h4 class="card-title">Last {{stats["days"]}} Days Who bought the most from you? (value)</h4>
                <ul>
                    {% for person, amount in stats["PeopleWhoBoughtTheMostValue"].items() %}
                        <li>{{person}} - ${{amount}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <div class="card h-100 text-white bg-dark border-white">
            <div class="card-body">
                <h4 class="card-title">Last {{stats["days"]}} Days What did you sell the most of?</h4>
                <ul>
                    {% for item, amount in stats["MostSoldItems"].items() %}
                        <li>{{ItemList[item].Name}} - {{amount}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
        <div class="card h-100 text-white bg-dark border-white">
            <div class="card-body">
                <h4 class="card-title">Last {{stats["days"]}} Days What did you buy the most of?</h4>
                <ul>
                    {% for item, amount in stats["MostPurchasedItems"].items() %}
                        <li>{{ItemList[item].Name}} - {{amount}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}