{% set fixed_height = true %}
{% set show_alerts = false %}
{% extends "core_layout.html" %}
{% block content %}
<div class="row gx-3 gy-3 mt-0 h-100">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 mx-auto my-auto">
        <div class="card h-100 text-white bg-dark border-white">
            <h3 class="card-header">Edit <code>{{item.Name}}</code></h3>
            <div class="card-body">
                <form method="POST" class="text-black">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name='buyPrice' id="buyGroup" placeholder="Buy Price" ,
                            value="{{item.BuyPrice}}">
                        <label for="buyGroup">Buy Price</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name='sellPrice' id="sellGroup" placeholder="Sell Price"
                            , value="{{item.SellPrice}}">
                        <label for="sellGroup">Sell Price</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name='stock' id="stockGroup" placeholder="Current Stock"
                            , value="{{item.StockLevel}}">
                        <label for="stockGroup">Current Stock (Optional)</label>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="ShopSelectEdit">Shop</label>
                        <select name='Shop' class="form-select" id="ShopSelectEdit">
                            {% for id, details in currentShops.items() %}
                            <option value="{{ id }}"{% if item.Shop == id %}selected{% endif %}>{{ details["ShopName"] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-primary mb-1" type="submit">Update Item</button>
                </form>
            </div>
            {%with messages = get_flashed_messages()%}
            {%if messages %}
            <ul class="list-group list-group-flush">
                {% for message in messages %}
                <li class="list-group-item bg-dark text-white border-white">{{ message }}</li>
                {% endfor %}
            </ul>
            {%endif%}
            {%endwith%}
        </div>
    </div>
</div>
{% endblock %}