{% set fixed_height = false %}
{% set show_alerts = true %}
{% extends "core_layout.html" %}
{% block extra_styles %}
<link href="https://cdn.datatables.net/v/bs5/dt-2.3.8/datatables.min.css" rel="stylesheet" integrity="sha384-UclYA0TM50oo4lzbw9CylacalWmOxu+RipNT22BDrqDD9v2F0M+262NAs03TOfhw" crossorigin="anonymous">
{% endblock %}
{% block content %}

<div class="row gx-3 gy-3 mb-3 mt-0">
    <div class="col">
        <div class="card h-100 text-white bg-dark border-white">
            <h3 class="card-header border-white">Shop List</h3>
            <div class="card-body">
                <p class="card-text">A list of all the shops you have access to view.</p>
            </div>
        </div>
    </div>
</div>
<div class="row gx-3 gy-3">
    <div class="col">
        <div class="card h-100 text-white bg-dark border-white">
            <h3 class="card-header border-white">Shop List</h3>
            <div class="card-body">
                <table class="table text-white" id="shops">
                    <thead>
                        <tr>
                            <th scope="col">Shop Owner</th>
                            <th scope="col">Shop Name</th>
                            
                            <th scope="col">General Statistics</th>
                            <th scope="col">Past Transactions</th>
                            <th scope="col">Item List</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for shop, isShopObject in ShopList %}
                        <tr>
                            {% if not isShopObject %}
                                <th scope="col">{{shop.username}}</th>
                                <th scope="col">Default (Unsorted)</th>
                                <td scope="col"><a href="{{url_for('ShopTimeView', days = 3, username = shop.username, shopID = 0)}}">General Statistics</a></td>
                                <td scope="col"><a href="{{url_for('ShopTransactionsView', username = shop.username, shopID = 0)}}">Past Transactions</a></td>
                                <td scope="col"><a href="{{url_for('ShopItems', username = shop.username, shopID = 0)}}">Item List</a></td>
                            {% else %}
                                <th scope="col">{{shop.owner}}</th>
                                <th scope="col">{{shop.name}}</th>
                                <td scope="col"><a href="{{url_for('ShopTimeView', days = 3, username = shop.owner, shopID = shop.id)}}">General Statistics</a></td>
                                <td scope="col"><a href="{{url_for('ShopTransactionsView', username = shop.owner, shopID = shop.id)}}">Past Transactions</a></td>
                                <td scope="col"><a href="{{url_for('ShopItems', username = shop.owner, shopID = shop.id)}}">Item List</a></td>

                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                
                
                
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.3.8/datatables.min.js" integrity="sha384-pszF7QvU8ChuuhQBJGIvzVEcojfpYqQOVG2PaXES4M4Mcn+1CqfQ4r1b/mpdtn/6" crossorigin="anonymous"></script>
<script>
new DataTable('#shops', {
    order: [4, 'asc']
})

</script>

{% endblock %}

