body {
    background-color: #CF9FFF;
}
div.cont {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px
}

.height-no-nav {
    height: calc(100vh - 60px) !important;
}
div.alert-dark {
    background-color: #373b3e;
}
.border-white {
    border-radius: 0;
    border-color: white;
    border-width: 1px;
}
.left-border-reset {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
@font-face {
    font-family: 'Unifont';
    src: url(../fonts/UnifontExMono.woff) format("woff");
}
.mc-font {
    font-family: 'Unifont';
}
.clr-field {
    width: 100%;
}